.mumie_text_input .form-inline .form-control {
    width: 80%;
}

.mumie_icon_btn {
    margin-left: 10px;
    color: blue;
    cursor: pointer;
}

.mumie_tag {
    margin: 5px;
}

.mumie_table_wrapper {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}