.mumie_add_server_button {
    color: #212529;
    display: inline-block;
    margin-top: 5px;
    margin-left: 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.mumie_server_list_header {
    border-bottom: 1px solid #212529;
}
.mumie_list_delete_button {
    color: inherit;
}

.mumie_list_edit_button:hover {
    color: blue;
    cursor: pointer;
}