.mumie_text_input .form-inline .form-control {
    width: 80%;
}

.mumie_icon_btn {
    margin-left: 10px;
    color: blue;
    cursor: pointer;
}

.mumie_tag {
    margin-right: 1em;
    margin-left: 1em;
}

.mumie_table {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}